<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/about.css">
  <link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
</head>
<body>
  <span class="menu-bar-wrap"><i class="fas fa-bars menu-bar"></i></span>
  <div class="main-menu">
    <h3 class="main-menu-heading">Menu</h3>
  </div>
  <div class="filter"></div>

  <h1 class="page-title">About WAKI</h1>
  <div class="current-page">
    <img src="../images/waki-image.png" alt="WAKI">
    <p class="page-nav"><a href="../index.html" class="page-nav-link">TOP</a> &gt; about</p>
  </div>
  <h2 class="section-title">Profile</h2>
  <div class="profile-area">
    <div class="profile-area-top">
      <img src="../images/waki-image.png" alt="" class="profile-area-top-image">
      <div class="profile-area-top-text">
        <ul class="profile-area-top-text-list">
          <li>名前 : WAKI</li>
          <li>年齢 : 15歳</li>
          <li>職業 : Web制作、ブログ</li>
          <li>趣味 : スポーツ、筋トレ</li>
        </ul>
      </div>
    </div>
    <div class="profile-area-bottom">
      <p class="profile-area-bottom-text">
        現在中学3年生で、もうすこしで高校生になります。<br>
        絶賛受験勉強中で、頭がどうにかなりそうです。<br>
        高校生になったら、バイクに乗ってみたいです。
      </p>
    </div>
  </div>
  <h2 class="section-title">History</h2>
  <div class="history-story-area">
    <i class="fas fa-mobile-alt history-icon"></i><p class="history-story">中学生になると同時に塾に入る＆スマホをGet!</p>
  </div>
  <p class="history-story arrow">⇩</p>
  <div class="history-story-area">
    <i class="fas fa-gamepad history-icon"></i><p class="history-story">塾に入ったストレス＆スマホを持った反動でゲーム依存症に</p>
  </div>
  <p class="history-story arrow">⇩</p>
  <div class="history-story-area">
    <i class="fas fa-sad-tear history-icon"></i><p class="history-story">塾が嫌すぎて病みかけてしまい、塾をやめる</p>
  </div>
  <p class="history-story arrow">⇩</p>
  <div class="history-story-area">
    <i class="fas fa-skull-crossbones history-icon"></i><p class="history-story">塾をやめたらゲーム依存症が加速</p>
  </div>
  <p class="history-story arrow">⇩</p>
  <div class="history-story-area">
    <i class="fas fa-hand-rock history-icon"></i><p class="history-story">さすがにまずいと我に返り、プログラミングを始める決心をする</p>
  </div>
  <p class="history-story arrow">⇩</p>
  <div class="history-story-area">
    <i class="fas fa-money-bill history-icon"></i><p class="history-story">中学二年生で、初収益を上げることに成功</p>
  </div>
  <p class="history-story arrow">⇩</p>
  <div class="history-story-area">
    <i class="fas fa-male history-icon"></i><p class="history-story">現在は、Web制作をしながらブログを書く生活</p>
  </div>
  <footer>
    <h2 class="footer-logo"><span class="footer-logo-waki">WAKI</span>versatile site</h2>
  </footer>
  <script src="../javascript/all.js"></script>
</body>
</html>