<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/contact.css">
  <link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <span class="menu-bar-wrap"><i class="fas fa-bars menu-bar"></i></span>
  <div class="main-menu">
    <h3 class="main-menu-heading">Menu</h3>
  </div>
  <div class="filter"></div>

  <h1 class="page-title">Contact me</h1>
  <div class="current-page">
    <img src="../images/waki-image.png" alt="WAKI">
    <p class="page-nav"><a href="../index.html" class="page-nav-link">TOP</a> &gt; contact</p>
  </div>
  <h2 class="section-title">form</h2>
  <form action="" class="contact-form">
    <p class="input-title">お名前</p>
    <input type="text" class="input">
    <p class="input-title">メールアドレス</p>
    <input type="email" class="input">
    <p class="input-title">お問い合わせタイトル</p>
    <input type="text" class="input">
    <p class="input-title">本文</p>
    <textarea name="" id="" cols="30" rows="10" class="input-text"></textarea>
    <div class="submit-btn-area">
      <input type="submit" value="Send→" class="contact-send">
    </div>
  </form>
  <footer>
    <h2 class="footer-logo"><span class="footer-logo-waki">WAKI</span>versatile site</h2>
  </footer>
  <script src="../javascript/all.js"></script>
</body>
</html>