<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/all.css">
  <link rel="stylesheet" href="../css/light-plan.css">
  <link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
</head>
<body>
  <span class="menu-bar-wrap"><i class="fas fa-bars menu-bar"></i></span>
  <div class="main-menu">
    <h3 class="main-menu-heading">Menu</h3>
  </div>
  <div class="filter"></div>

  <h1 class="page-title">Light plan</h1>
  <div class="current-page">
    <img src="../images/waki-image.png" alt="WAKI">
    <p class="page-nav"><a href="../index.html" class="page-nav-link">TOP</a> &gt; <a href="./service.html" class="page-nav-link">service</a> &gt; Light plan</p>
  </div>

  <div class="lp-top">
    <div class="lp-top-left">
      <img class="mock" src="../images/Apple Macbook Pro 16 Space Grey.png" alt="">
    </div>
  </div>
  <script src="../javascript/all.js"></script>
</body>
</html>