<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/service.css">
  <link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
</head>
<body>
  <span class="menu-bar-wrap"><i class="fas fa-bars menu-bar"></i></span>
  <div class="main-menu">
    <h3 class="main-menu-heading">Menu</h3>
  </div>
  <div class="filter"></div>

  <h1 class="page-title">WAKI's service</h1>
  <div class="current-page">
    <img src="../images/waki-image.png" alt="WAKI">
    <p class="page-nav"><a href="../index.html" class="page-nav-link">TOP</a> &gt; service</p>
  </div>
  <h2 class="section-title">Main service</h2>
  <div class="services">
    <div class="service">
      <div class="service-container">
        <p class="service-name">WAKI special</p>
        <i class="fas fa-feather service-icon"></i>
        <p class="service-price">¥1000~</p>
        <p class="service-content-text">
          手軽にサイトが欲しい方向けの価格崩壊サービス。<br>
          テンプレートに沿って、ペライチの個人用ホームページを制作します。<br>
          格安で、売り上げアップを狙うこともできます。<br>
        </p>
        <div class="to-service-detail-area">
          <a href="./light-plan.html" class="to-service-detail">More→</a>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="service-container">
        <p class="service-name">サイト制作</p>
        <i class="fas fa-cube service-icon"></i>
        <p class="service-price">¥8000~</p>
        <p class="service-content-text">
          最もスタンダードなプランです。<br>
          お客様からヒアリングを行い、一からサイトを制作します。<br>
          基本、どんな種類のサイトにも対応しております。<br>
          こちらも破格のお値段です。
        </p>
        <div class="to-service-detail-area">
          <a href="" class="to-service-detail">More→</a>
        </div>
      </div>
    </div>
    <div class="service comming-soon">
      <div class="service-container">
        <p class="service-name">Comming soon!</p>
        <i class="fas fa-hand-paper service-icon"></i>
        <p class="service-price">¥-----</p>
        <p class="service-content-text">
          Comming soon!
        </p>
      </div>
    </div>
  </div>
  <h2 class="section-title">Sub service</h2> <!-- ここからサブサービス -->
  <div class="services">
    <div class="service">
      <div class="service-container">
        <p class="service-name">Coding</p>
        <i class="fas fa-code service-icon"></i>
        <p class="service-price">¥3000~</p>
        <p class="service-content-text">
          いただいたデザインをもとに、コーディングを行います。<br>
          SEOを意識した内部対策も、デフォルトで行います。<br>
          JavaScriptを使用したアニメーションの実装も可能です。
        </p>
        <div class="to-service-detail-area">
          <a href="" class="to-service-detail">More→</a>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="service-container">
        <p class="service-name">Design</p>
        <i class="fas fa-palette service-icon"></i>
        <p class="service-price">¥5000~</p>
        <p class="service-content-text">
          お客様からのヒアリングに沿って、サイトのデザインのみを行います。<br>
          基本、どんな種類のサイトにも対応しております。<br>
          コーディングを自分でできる方におすすめのサービスです。
        </p>
        <div class="to-service-detail-area">
          <a href="" class="to-service-detail">More→</a>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="service-container">
        <p class="service-name">SEO</p>
        <i class="fas fa-check-circle service-icon"></i>
        <p class="service-price">¥500</p>
        <p class="service-content-text">
          お客様がお持ちの、既存サイトのSEOを最適化します。<br>
          お客様のサイトのコードを見せていただき、問題点を改善します。<br>
          改善度合いは、ネット上のフリーツールを参考にします。
        </p>
        <div class="to-service-detail-area">
          <a href="" class="to-service-detail">More→</a>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <h2 class="footer-logo"><span class="footer-logo-waki">WAKI</span>versatile site</h2>
  </footer>
  <script src="../javascript/all.js"></script>
</body>
</html>